body {
 background: linear-gradient(to right, #ffbf76,#cc76fd);
 padding: 19px;

}

h1 {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;  
  color: #985ce7;
}

img {
    width: 268px;
    height: auto;
}

h2{
    color: #985ce7;
    font-family: Times New Roman;
    font-size: 25px;
}

.My-Intrests {
  color: #6d4d97;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Button {
  background-color: darkgoldenrod;
  font-family: fantasy;
  margin-top: 20px;
  
}

.image-grid {
  gap: 5px;
  display: flex;
  justify-content: right;
  align-items: right;
}

p {
  font-size: large;
}

.li {
font-size: 19px;
}

.a {
  font-size: 28px;
}

.Images-I-Love {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}



